Options +FollowSymLinks -Indexes

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	
	RewriteCond %{REQUEST_URI} !^/index\.php(\?path=)?
	RewriteCond %{DOCUMENT_ROOT} public/?$
	RewriteRule ^(.*)$ /index.php?path=$1 [L,QSA]

</IfModule>
